---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<a href="/">Home</a>
			<a href="/blog">Blog</a>
			<a href="/about">About</a>
		</header>
		<h1>About This Site</h1>
		<p>This is a little intro to Astro site - just getting acquainted with the technology today.</p>
	</body>
</html>
