---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout {pageTitle}>
	<p>
		I figure the next step is going to be adding a few blog posts to this
		page.
	</p>
	<p>That or getting some basic styling in place.</p>
	<p>
		Update: yep, adding a blog post. Next probably automating a few of these
		links.
	</p>
	<ul>
		<li><a href="/posts/post-1/">Post 1</a></li>
		<li><a href="/posts/post-2/">Post 2</a></li>
		<li><a href="/posts/post-3/">Post 3</a></li>
	</ul>
</BaseLayout>
