---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<a href="/">Home</a>
			<a href="/blog">Blog</a>
			<a href="/about">About</a>
		</header>
		<h1>Blog</h1>
		<p>I figure the next step is going to be adding a few blog posts to this page.</p>
		<p>That or getting some basic styling in place.</p>
	</body>
</html>
