---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout {pageTitle}>
	<h2>Look it's a layout</h2>
	<ul>
		<li>test</li>
		<li>test2</li>
		<li>test3</li>
	</ul>
</BaseLayout>


